.topicPageWrapper{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 92%;
    margin:0;
    align-content: center;
    overflow: auto;
}
.topicLeftContent{
    position: relative;
    left: 0;
    width: 671px;
    height: 80%;
    float: left;
}
.topicCard{
    width: 569px;
    min-height: 192px;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 0 3px  #BCBCBC;
    margin-top:10px;
}
.topicContentSearch{
    width: 100%;
    height: 40px;

}

.topicContentSearch svg{
    color: #333333;
    position: relative;
    float: right;
    width:20px;
    height: 20px;
    top:12px;
    margin-left: 10px;
}
.topicContentSearch input{
    position: relative;
    top:10px;
    float: right;
    width: 140px;
    height: 20px;
    padding: 0 0 0 10px;
}
.editPart button{
    width: 161px;
    height: 30px;
    color: #E36100;
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
    margin:20px 0 5px 40%;
    padding:0;
    background: rgba(255, 146, 64, 0.21);
    border-radius: 6px;
    border: 0 #e36100 solid;
}