.articleWrapper{
    width: 773px;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 0 3px #BCBCBC;
    margin-top:10px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.commentsWrapper{
    min-height: 300px;
    width: 682px;
    padding:16px 84px 23px 84px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;
}
.articleComment{
    min-height: 130px;
    padding:27px 0 20px 0;
}
.articleComment svg:hover{
    cursor: pointer;
}