.changePasswordWrapper{
    width: 604px;
    height: 341px;
    background: white;
    box-shadow:0 0 3px #BCBCBC ;
    position: fixed;
    top:192px;
    left:481px
}
.changePasswordHeader{
    height: 70px;
    width: 100%;
}
.changePasswordHeader h1{
    margin:0;
    font-size: 18px;
    font-family: Calibri;
    position: relative;
    left:60px;
    top:21px;

}
.changePasswordInputWrapper{
    min-height: 170px;
    padding-top:30px;
}
.changePasswordInput{
    height: 30px;
    width: 420px;
    margin-bottom: 20px;
    position: relative;
    left:61px;
}
.changePasswordInput span{
    width: 120px;
    position: relative;
    top:2px;
    font-size: 15px;
    font-family: Calibri;
}
.changePasswordInput input{
    float: right;
    height: 25px;
    width: 280px;
    left:40px;
    position: relative;
}
.passwordError{
    font-size: 15px;
    font-family: Calibri;
    color: red;

}
.passwordError span{
    position: relative;
    left:235px;
    bottom: 10px;
}
.changePasswordButton{
    width: 400px;
    position: relative;
    height: 30px;
    top:30px;
    left:0px;
    padding: 0 80px 0 140px;
    text-align: center;
    border-radius: 6px;
}
.changePasswordButton button{
    width: 88px;
    height: 100%;
    position: relative;
    bottom: 3px;
    margin-right: 80px;

    background: rgba(255, 146, 64, 0.27);
    color:  #FF9240;
    font-size: 15px;
    font-family: Calibri;
}