.searchDropDown{
    height: 100%;
    width: 100%;
}
.searchDropDown ul{
    padding-left: 0;
    margin:0;
}
.searchDropDown li  {
    text-decoration: none;
    padding:5px 0 5px 10px;
    min-height: 20px;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: Calibri,serif;
    margin: 0;
    border-bottom: 1px solid #6B6B6B;
}

.searchDropDown li:hover{
    cursor: pointer;
    background: #BCBCBC;
}
.searchDropDown  #addNewTopic{
    border-bottom:0;
    display: flex;
    justify-content: flex-start;
}

.searchDropDown  #addNewTopic span{
    position: relative;
    width: 50%;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: Calibri,serif;
    left: -5px;
}

.searchDropDown #addNewTopic svg{
    border-bottom:0;
    position: relative;
    left: -5px;
    height: 0.8em;
}
