
.articleContent{
    position: relative;
    top:20px;
    min-height: 200px;
    word-wrap: break-word;
    overflow: hidden;
}
.articleContent p{
    overflow: hidden;
    height: 80%;
    color: black;
    font-size: 1em;
    left: 0;
    margin:0;
}

.articleTopicWrapper{
    height: 30px;
    width: 100%;
    position: relative;
    top:20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.articleTopicWrapper span{
    color: rgba(51, 51, 51, 0.53);
    font-size:1em;
    margin-right: 10px;
}
.articleTopicWrapper a{
    text-decoration: none;
}
.articleTopicWrapper a:hover{
    cursor: pointer;
}