.forgotPasswordConfirmation{
    height: 30px;
    width: 520px;
    margin-bottom: 20px;
    position: relative;
    left:61px;
}
.forgotPasswordConfirmation span{
    width: 120px;
    float: left;
    position: relative;
    top:2px;
    font-size: 15px;
    font-family: Calibri;
}
.forgotPasswordConfirmation input{
    float: left;
    height: 25px;
    width: 100px;
    left:55px;
    position: relative;
}
.forgotPasswordConfirmation p{
    font-size: 13px;
    color:#55a7ff;
    float: left;
    position: relative;
    left: 80px;
    bottom: 6px;
}
.forgotPasswordConfirmation p:hover{
    cursor: pointer;
}
#changePasswordInHomePage{
    left:30%;
}